@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

header {
    background-image: url("../img/Fondo.png");
    background-size: cover;
    background-position: center;
}

iframe {
    width: 100%;
    height: 350px;
}

.menu {
    margin-top: 100px; 
}


.menu .nav-link {
    font-family: 'Montserrat', sans-serif;
    /* Agrega otros estilos de texto según tus preferencias */
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color:#0173D6;
}
    
.Logo {
    width: 150px; /* Ajusta el ancho y alto según tus necesidades */
    background-image: url("../img/Fondo.png");
    background-size: cover;
    background-position: end;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.Logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    }














