@page
@model EJER.Pages.Ejercicio3Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Ejercio3</title>
</head>
<body>
    <header>
        <h1>Ejercicio3</h1>
    </header>
    <main>

    </main>
    <footer>
    </footer>
</body>
</html>