@page
@model EJER.Pages.Ejercicio1Model
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Ejercio1</title>
</head>
<body>
    <header>
        <h1>Ejercicio1</h1>
    </header>
    <main>
        
    </main>
    <footer>
    </footer>
</body>
</html>