@page
@model EJER.Pages.Ejercicio4Model
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Ejercio3</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/siteEjer1.css">
</head>
<body>
    <header>
        <h1>Cálculo de días</h1>
    </header>
    <main>
        <div class="row">
            <div class="col-md-6">
                <form class="custom-form m-lg-1" method="post" action="">
                    <fieldset>
                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="numero1" class="form-label">Número 1:</label>
                                        <input type="number" id="numero1" name="numero1" class="form-control form-control-sm" min="0" required>
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" id="checkbox1" name="eleccion1" class="form-check form-check-input mt-3">
                                    </div>
                                    <div class="col">
                                        <label for="numero2" class="form-label">Número 2:</label>
                                        <input type="number" id="numero2" name="numero2" class="form-control form-control-sm" min="0" required>
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" id="checkbox2" name="eleccion2" class="form-check form-check-input mt-3">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="numero3" class="form-label">Número 3:</label>
                                        <input type="number" id="numero3" name="numero3" class="form-control form-control-sm" min="0" required>
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" id="checkbox3" name="eleccion3" class="form-check form-check-input mt-3">
                                    </div>
                                    <div class="col">
                                        <label for="numero4" class="form-label">Número 4:</label>
                                        <input type="number" id="numero4" name="numero4" class="form-control form-control-sm" min="0" required>
                                    </div>
                                    <div class="col">
                                        <input type="checkbox" id="checkbox4" name="eleccion4" class="form-check form-check-input mt-3">
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <input type="radio" id="suma" name="operacion" value="suma" checked required>
                                        <label for="suma">Suma</label>
                                    </div>
                                    <div class="col">
                                        <input type="radio" id="multiplicacion" name="operacion" value="multiplicacion" required>
                                        <label for="multiplicacion">Multiplicación</label>
                                    </div>
                                </div>
                            </div>
                            
                            

                            <div class="mb-3">
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-sm">Ejecutar</button>
                                    </div>
                                    <div class="col">
                                        <button type="reset" class="btn btn-primary btn-sm">Limpiar</button>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                @{
                    if (Request.Method == "POST")
                    {
                        int numero1 = 0, numero2 = 0, numero3 = 0, numero4 = 0,suma = 0;
                        decimal multi = 0;
                        List<int> numeros = new List<int>();
                        if (Request.Form["eleccion1"] == "on")
                        {
                            if (!int.TryParse(Request.Form["numero1"], out numero1))
                            {
                                <p>Error no se pudo convertir el número en entero</p>

                            }else
                            {
                                numeros.Add(numero1);
                                suma += numero1;
                                
                            }
                        }

                        if (Request.Form["eleccion2"] == "on")
                        {
                            if (!int.TryParse(Request.Form["numero2"], out numero2))
                            {
                                <p>Error no se pudo convertir el número en entero</p>
                            }else
                            {
                                numeros.Add(numero2);
                                suma += numero2;
                                
                            }
                        }

                        if (Request.Form["eleccion3"] == "on")
                        {
                            if (!int.TryParse(Request.Form["numero3"], out numero3))
                            {
                                <p>Error no se pudo convertir el número en entero</p>
                            }else
                            {
                                numeros.Add(numero3);
                                suma += numero3;
                                
                            }
                        }

                        if (Request.Form["eleccion4"] == "on")
                        {
                            if (!int.TryParse(Request.Form["numero4"], out numero4))
                            {
                                <p>Error no se pudo convertir el número en entero</p>
                            }else
                            {
                                numeros.Add(numero4);
                                suma += numero4;
                            }
                        }

                        if (Request.Form["operacion"] == "suma")
                        {
                            foreach (int numero in numeros)
                            {
                                <div>
                                <p> Los numeros son:@numero</p>
                                </div>
                            }
                            <p>La suma es de: @suma</p>

                        }else
                        {
                            multi = numeros[0];
                        
                            foreach (int numero in numeros)
                            {
                                <div>
                                    <p> Los numeros son:@numero</p>
                                </div>
                                multi *= numero;
                            }
                            <p>La multiplicación es de: @multi</p>

                        }

                        
                    }
             }
    
            </div>
        </div>

    </main>
    <footer>
    </footer>
</body>
</html>

