@page
@model EJER.Pages.Ejercicio7Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Ejercicio 6</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/siteEjer1.css">
</head>
<body>
    <header>
        <h1>Números</h1>
    </header>
    <main>

    </main>
</body>