@page
@model EJER.Pages.PortadaModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Portada</title>
</head>
<body>
    <header>
        <h1>Portada</h1>
        <p>
            Ejercicio 1: Crea una página web que solicite dos números al usuario y muestre el resultado de las operaciones matemáticas (suma, resta, multiplicación, división) en la misma página.
        </p>
        <p>
            Ejercicio 2: Diseña una página web donde el usuario ingrese un texto y una palabra. Al hacer clic en un botón, se muestra cuántas veces aparece la palabra en el texto en una nueva página, con un enlace para regresar.
        </p>
        <p>
            Ejercicio 3: Desarrolla una página web donde el usuario ingrese una fecha. Al hacer clic en un botón, se muestra la cantidad de días desde esa fecha hasta hoy en la misma página, si la fecha es válida.
        </p>
    </header>
    <main>

    </main>
    <footer>
    </footer>
</body>
</html>