@page
@model EJER.Pages.PortadaModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Portada</title>
</head>
<body>
    <header>
        <h1>Portada</h1>
    </header>
    <main>

    </main>
    <footer>
    </footer>
</body>
</html>