@page
@model EJER.Pages.resultadoEjer2Model
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EJE0701–Razor Sergio Leal Priere</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/siteResultadoejer2.css">

</head>
<body>
    <header>
            <h1>Palabras Contadas</h1>
    </header>
    <main>
        <div>
            @{
                if (Request.Method == "POST")
                {

                }
                else
                {
                    <p>Sal de aquí </p>
                }


            }



        </div>
 
    </main>
    <footer>
    </footer>
</body>
</html>