@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="mt-3">@ViewData["Title"]</h1>

<p>
    Recopilación de información personal:
    a. Durante la visita a nuestro sitio web, podemos recopilar cierta información personal, como su nombre, dirección de correo electrónico, número de teléfono, etc. Esta información se recopila de forma voluntaria cuando usted la proporciona al registrarse, suscribirse a nuestros servicios o comunicarse con nosotros a través de los formularios de contacto.
    b. También podemos recopilar información no personal, como su dirección IP, tipo de navegador, proveedor de servicios de Internet, páginas de referencia/salida, tipo de plataforma, fecha/hora, y datos de clics para analizar las tendencias, administrar el sitio, rastrear el movimiento del usuario de forma agregada y recopilar información demográfica.
</p>
<p>
    Uso de la información recopilada:
    a. Utilizamos la información personal recopilada para brindarle los servicios solicitados, mejorar nuestro sitio web, personalizar su experiencia y enviarle información relevante sobre nuestros productos y servicios.
    b. No vendemos, alquilamos ni compartimos su información personal con terceros no afiliados, excepto cuando sea necesario para brindar los servicios solicitados o requerido por la ley.
</p>
<p>
    Seguridad de la información:
    a. Implementamos medidas de seguridad adecuadas para proteger su información personal contra acceso no autorizado, alteración, divulgación o destrucción.
    b. Aunque hacemos todo lo posible para proteger su información personal, no podemos garantizar la seguridad absoluta de los datos transmitidos a través de Internet.
</p>
<p>
    Cookies:
    a. Utilizamos cookies y tecnologías similares para mejorar su experiencia en nuestro sitio web, analizar tendencias, administrar el sitio y recopilar información demográfica. Puede configurar su navegador para que rechace todas las cookies o le avise cuando se envíen cookies.
</p>
<p>
    Enlaces a sitios web de terceros:
    a. Nuestro sitio web puede contener enlaces a sitios web de terceros. No somos responsables de las prácticas de privacidad o el contenido de dichos sitios. Le recomendamos leer las políticas de privacidad de esos sitios antes de proporcionar cualquier información personal.
</p>
<p>
    <strong>Copyright:</strong>
</p>
<p>
    Propiedad intelectual:
    a. Todo el contenido y los materiales disponibles en nuestro sitio web, incluyendo pero no limitado a texto, gráficos, logotipos, imágenes, clips de audio, descargas digitales y compilaciones de datos, son propiedad de nuestra empresa y están protegidos por las leyes de derechos de autor.
    b. No se permite la reproducción, distribución, modificación, exhibición pública ni cualquier otro uso no autorizado de los materiales sin nuestro permiso previo por escrito.
</p>
<p>
    Marcas registradas:
    a. Todas las marcas comerciales, logotipos y nombres comerciales utilizados en nuestro sitio web son propiedad de sus respectivos propietarios y están protegidos por las leyes de marcas comerciales aplicables. El uso no autorizado de estas marcas comerciales está estrictamente prohibido.
</p>
<p>
    Uso aceptable:
    a. Usted puede utilizar nuestro sitio web y su contenido para fines personales y no comerciales. Sin embargo, cualquier uso no autorizado, incluyendo la reproducción, distribución o modificación de nuestro contenido, está estrictamente prohibido.
</p>
<p>
    Notificación de infracción de derechos de autor:
    a. Si cree que su trabajo protegido por derechos de autor ha sido utilizado de una manera que constituye una infracción, le pedimos que nos proporcione una notificación por escrito que contenga la información requerida por la ley de derechos de autor aplicable.
</p>
